.headerSection {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans';
    text-align: center;
    color: #ffffff;
}

.headerTitle {
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 6px;
}

.headerSubtitle {
    font-size: 26px;
    opacity: .7;
}

@media (max-width: 600px) {
    .headerSection {
        display: none;
    }
}
